html body {
  background-color: #f3efef;
}

#footer {
  display: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.all-element {
  position: relative;
  z-index: 1;
}

.center-element {
  display: grid;
  place-content: center;
  text-align: center;
  height: 100vh;
  z-index: 9999;
}

.top-element {
  display: inline-block;
  height: 5vh;
  width: 100%;
}

.btn {
    font-size: medium;
    transition: 0.5s;
    border: medium solid;
    border-radius: 0.5rem 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.75rem;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.Itembox {
  width:60vw; 
  text-align:center; 
}

@media (max-width: 600px) {
  .Itembox{
    width:100vw;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0.5rem;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "🥕";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #c8a36b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f19303;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  display: grid;
  place-content: center;
  text-align: center;
  font-size: small;
}